<!-- <div class="cards">
  <%# @delivery_groups.each do |delivery| %>
    <%=# link_to delivery_category_delivery_path(@delivery_category.id, delivery) do %>
      <div class="card-category">
        <div class="card-img">
          <%=# image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1614859236/THC/thc_bag_roe4qi.png") %>
        </div>
        <div class="card-title">
          <%=# delivery.name %>
        </div>
        <div class="card-description">
          <strong>Rider: </strong><p><%=# delivery.rider.name %></p>
        </div>
      </div>
    <%# end %>
  <%# end %>
</div> -->
