<nav class="navbar">
  <a href="#" id="navbar_icon">&#9776</a>
  <ul class="list">
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
<script src="jquery-3.5.1.min.js">
$(document).ready(function() {
  $("#navbar_icon").click(function() {
    if($(".navbar").css("left") < "0px") {
      $(".navbar").animate({left: "0px"}, 300);
      $(this).animate({left: "0px"}, 200);
      $('.content').css("margin-left", "200px");
      $("body").css("overflow-x","hidden");
            $(".navbar").css("overflow-y","hidden");
    } else {
      $(".navbar").animate({left: "-145px"}, 300);
      $(this).animate({left: "75px"}, 100);
      $('.content').css("margin-left", "50px");
      $("body").css("overflow-x","hidden");
    }
  });
})
</script>
