<nav class="navbar">
  <div class="logo">
    <%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1601637674/thc-logo-1_dfmhnc.png") %>
  </div>
  <ul class="list">
    <li><%= link_to "Cocina", monday_path %></li>
    <% if Rider.exists? %>
      <li><%= link_to "Reparto", rider_path(Rider.all.first) %></li>
    <% end %>
    <li><%= link_to "Pedidos totales", monday_path %></li>
  </ul>
</nav>
