<h1>¡Hola!</h1>

<p>
  Tu comida saludable acaba de ser entregada con éxito. Esperamos que disfrutes de un almuerzo nutritivo que te recargue las pilas para seguir trabajando.
</p>

<p>
  No olvides que puedes revisar las calorías y los macros de tu comida en la sección de Información adicional del plato del día.
</p>

<p>Zonas y horarios de entrega:</p>
Cambios realacionados con entraga son aceptados hasta las 10:00am del mismo día, por favor envía un Whatsapp o llámanos al numero siguiente informando el nombre completo así como la nueva dirección:  +34 624 207 186
<ul>
  <li><strong>BARCELONETA & BORN: </strong>11:45-12:30</li>
  <li><strong>POBLENOU: </strong>11:30-12:30</li>
  <li><strong>EIXAMPLE: </strong>11:30-12:30</li>
  <li><strong>GRACIA: </strong>12:00-13:00</li>
  <li><strong>SARRIA-SANTS-LES CORTS: </strong>12:00-13:15</li>
  <li><strong>SANTS, POBLESEC & RAVAL: </strong>11:15-12:15</li>
</ul>

<p>The Healthiest Choice,</p>
<%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602757951/THC/5ea17a313db0d2b2f27e1b6c_small_logo_y-01_c6xnob.png", style: 'width: 150px;') %>
<br>
<a href="www.thehealthiestchoicebcn.com">www.thehealthiestchoicebcn.com</a>
