<h1>¡Hola!</h1>

<p>
  Tu comida saludable acaba de ser entregada con éxito. Esperamos que disfrutes de un almuerzo nutritivo que te recargue las pilas para seguir trabajando.
</p>

<p>
  No olvides que puedes revisar las calorías y los macros de tu comida en la sección de Información adicional del plato del día.
</p>

<p>The Healthiest Choice,</p>
<a href="www.thehealthiestchoicebcn.com">www.thehealthiestchoicebcn.com</a>
<%= image_tag("https://res.cloudinary.com/therainycloud/image/upload/v1602757951/THC/5ea17a313db0d2b2f27e1b6c_small_logo_y-01_c6xnob.png") %>
