<h1>¡Hola!</h1>

<p>
  Tu comida saludable acaba de ser entregada con éxito. Esperamos que disfrutes de un almuerzo nutritivo que te recargue las pilas para seguir trabajando.
</p>

<p>
  No olvides que puedes revisar las calorías y los macros de tu comida en la sección de Información adicional del plato del día.
</p>

<p>The Healthiest Choice,</p>
<a href="www.thehealthiestchoicebcn.com">www.thehealthiestchoicebcn.com</a>
<img src="../../../thc-logo-1.png" alt="Logo THC">
