<h1>Your order has been delivered!</h1>

<p>
  Hi there! Our trusted riders just delivered your order at indicated address.
  Enjoy your meal!
</p>

<p>The healthiest choice,</p>
<a href="www.thehealthiestchoicebcn.com
">www.thehealthiestchoicebcn.com</a>
<img src="thc-logo-1.png" alt="Logo THC">
