.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 35px;
  padding: 20px 0px;
}

.cards-orders {
  margin: 35px 0px;
}

.card-category {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  padding: 10px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  &:active {
    cursor: pointer;
  }
  &.new-card {
      justify-content: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0px;
    line-height: 20px;
  }
}

.header-rider { margin: 15px 0px; }

.order-card {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 35px;
    border-radius: 10px;

    h1 { margin-bottom: 5px; }
}

.order-card-wrapper {
  display: flex;
}

.card-info-client {
  width: 50%;
  background-color: #fffaf1;
  margin-right: 35px;
  border-radius: 10px;
  padding: 30px;
}

.info-title {
  h2 { margin-bottom: 25px; }
}

.info-content {
  ul {list-style-type: none; }
}

.card-info-order {
  width: 50%;
  background-color: #fffaf1;
  border-radius: 10px;
  padding: 30px;
}

.card-img {
  display: flex;
  justify-content: center;
  img {
  width: 100px;
  margin: 10px;
  }
}

.card-title {
  text-align: center;
}

.card-description {
  font-size: 16px;
  p {
    font-weight: 300;
  }
}

.form-control {
  border-radius: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr
  }

  .header {
    display: block;
    p {
      margin-bottom: 10px;
      line-height: 20px;
    }
  }

  .header-rider { margin: 15px 0px; }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 812px) {
  .cards {
      grid-template-columns: 1fr
  }
  .header {
    display: block;
    p {
      margin-bottom: 10px;
      line-height: 20px;
    }
  }

  .header-rider { margin: 15px 0px; }
}

