.dashboard {
  background-color: none;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.nav {
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-wrapper-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.toggler {
  background-color: black;
  color: white !important;
  padding: 8px 16px;
  border-radius: 5px;
  // position: absolute;
  // right: 222px;
  // top: 96px;
  box-shadow: $box-shadow;
  &:hover {
    background-color: rgba(0,0,0,0.8);
  }
}

.nav-pills {
  background: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
/* identical to box height */
  letter-spacing: 0.2em;
  margin: 0px 5px;
  box-shadow: $box-shadow;
    &:hover{
    background-color: rgba(0,0,0,0.8);
  }
}

.login-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  .login {
    text-align: center;
    max-width: 300px;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}

.riders-pills {
  display: flex;
  padding: 20px 0px;
  align-items: center;
}

.nav-pills-current {
  background: black;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  color: white !important;
  padding: 10px 40px;
  text-decoration: none;
/* identical to box height */
  letter-spacing: 0.2em;
  box-shadow: $box-shadow;
  margin: 0px 5px;
}

.button-primary {
  background: $yellow;
  border-radius: 5px;
  font-size: 16px;
  color: black !important;
  padding: 8px 30px;
  text-decoration: none;
  margin: 5px 0px;
/* identical to box height */
  // box-shadow: $box-shadow;
}

.button-secondary {
  background: black;
  border-radius: 5px;
  font-size: 16px;
  color: white !important;
  padding: 8px 30px;
  text-decoration: none;
  height: 100%;
  margin: 5px 0px;
/* identical to box height */
  // box-shadow: $box-shadow;
}

.dropdown-toggle {
  margin-left: 5px !important;
}

.form-control {
  border-radius: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px)  {
  .dashboard {
    padding: 20px;
    width: 100%;
  }
  .button-primary {
    margin: 10px 0px;
  }

  .riders-pills {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 812px) {
  .dashboard {
    padding: 20px;
    width: 100%;
  }
  .button-primary {
    margin: 10px 0px;
  }
  .riders-pills {
    display: block;
  }
}


