.dashboard {
  background-color: none;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.nav {
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-wrapper-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: -3px;
}

.toggler {
  background-color: white;
  padding: 8px 16px;
  border-radius: 5px 5px 0 0;;
}

.nav-pills {
  background: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
/* identical to box height */
  letter-spacing: 0.2em;
  margin: 0px 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nav-pills-current {
  background: black;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  color: white !important;
  padding: 10px 40px;
  text-decoration: none;
/* identical to box height */
  letter-spacing: 0.2em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px 5px;
}
