.table-responsive {
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  height: 30vh;
  margin-bottom: 20px;
  z-index: 5;
  box-shadow: $box-shadow;
}

.table-responsive-summary {
  background-color: white;
  border-radius: 10px;
  overflow: none;
  height: 40vh;
  margin-bottom: 20px;
  box-shadow: none;
}

.table-responsive-raw {
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 75vh;
  margin-bottom: 10px;
  box-shadow: $box-shadow;
}

.form-check {
  border-radius: 10px;
}

.table {
  overflow: scroll;
  font-size: 14px;
  line-height: 16px;
  border-top: none !important;

  td { vertical-align: inherit;}

  .date { min-width: 120px; }

  .name { min-width: 170px; }

  .product { min-width: 180px; }

  .custom { min-width: 180px; }
  
  .show { min-width: 100px; }

  #show { text-align: center;}
}

table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fffaf1;
   border: none !important;
}

.sortable td {
  cursor: grab;
}

.sortable td:active {
  cursor: grabbing;
}

.sortable td.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.nav-item {
  background-color: white;
  border: none;
  border-radius: 10px 5px 0 0;
  margin-left: 5px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: black;
  color: white !important;
  box-shadow: $box-shadow;
}

.col-form-label { display: none; }

.delivery_orders { margin-bottom: 0px; }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .table-responsive {
    height: 60vh;
  }
  .table-responsive-raw {
    height: 72vh;
    margin-top: 15px;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
      width: 20px;
  }
  ::-webkit-scrollbar:horizontal {
      height: 20px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
  }
  ::-webkit-scrollbar-track {
      border-radius: 10px;  
      background-color: #ffffff; 
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 812px) {
  .table-responsive {
      height: 60vh;
  }
  .table-responsive-raw {
   height: 55vh;
    margin-top: 15px;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
      width: 12px;
  }
  ::-webkit-scrollbar:horizontal {
      height: 12px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #ffffff;
  }
  ::-webkit-scrollbar-track {
      border-radius: 10px;  
      background-color: #ffffff; 
  }
}
