.table-responsive {
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  height: 30vh;
  margin-bottom: 20px;
  z-index: 5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.table-responsive-summary {
  background-color: white;
  border-radius: 10px;
  overflow: none;
  height: 40vh;
  margin-bottom: 20px;
}

.table-responsive-raw {
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 70vh;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-check {
  border-radius: 10px;
}

.table {
  overflow: scroll;
  font-size: 14px;
  line-height: 16px;
  border-top: none !important;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

  td { vertical-align: inherit;}

  .date { min-width: 105px; }

  .name { min-width: 200px; }

  .product { min-width: 180px; }

  .custom { min-width: 180px; }
}

table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fffaf1;
   border: none !important;
}

.sortable td {
  cursor: grab;
}

.sortable td:active {
  cursor: grabbing;
}

.sortable td.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.nav-item {
  background-color: white;
  border: none;
  border-radius: 10px 5px 0 0;
  margin-left: 5px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: black;
  color: white !important;
}
