.table-responsive {
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
  height: 30vh;
  margin-bottom: 20px;
}

.table-responsive-summary {
  background-color: white;
  border-radius: 20px;
  overflow: none;
  height: 40vh;
  margin-bottom: 20px;
}

.table-responsive-raw {
  background-color: white;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 75vh;
  margin-bottom: 20px;
}


.table {
  overflow: scroll;
  font-size: 14px;
  line-height: 16px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #fffaf1;
}

.sortable td {
  cursor: grab;
}

.sortable td:active {
  cursor: grabbing;
}

.sortable td.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.nav-item {
  background-color: white;
  border: none;
  border-radius: 5px 5px 0 0;
  margin-left: 5px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: black;
  color: white !important;
}