<div class="nav-wrapper">
  <ul class="nav mb-3" %>
      <% @days.each do |day| %>
        <% path = "#{day[1]}".downcase %>
        <% if current_page?("/#{path}") %>
            <%= link_to day[0], path, class: "nav-pills-current" %>
        <% else %>
            <%= link_to day[0], path, class: "nav-pills" %>
        <% end %>
      <% end %>
  </ul>
</div>

<div class="nav-wrapper-tabs">
  <div class="tabs-wrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#meals" role="tab" aria-controls="meals" aria-selected="true">Bowls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#snacks" role="tab" aria-controls="snacks" aria-selected="false">Snacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#desserts" role="tab" aria-controls="desserts" aria-selected="false">Postres</a>
      </li>
    </ul>
  </div>
</div>
