<div class="nav-wrapper">
  <ul class="nav mb-3" %>
      <% @days.each do |day| %>
        <% path = "#{day}".downcase %>
        <% if current_page?("/#{path}") %>
            <%= link_to day, path, class: "nav-pills-current" %>
        <% else %>
            <%= link_to day, path, class: "nav-pills" %>
        <% end %>
      <% end %>
  </ul>
</div>
