<div class="table-responsive-summary">
    <table class="table table-striped">
      <thead class="thead">
        <tr>
          <th>Resumen del día</th>
          <th>Normal</th>
          <th>High Carb</th>
          <th>High Protein</th>
          <th>Low Carb</th>
          <th>Keto</th>
          <th>High protein/Low carb</th>
        </tr>
        <tr>
          <th scope="row">Regular</th>
          <td><%= @meal_count %></td>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Large</th>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Regular Vegan</th>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Large Vegan</th>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Regular Veggy</th>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Large Veggy</th>
          <td>Open</td>
          <td>Open</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
          <td>Closed</td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
</div>
